

body {
	background: #000;
	 font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}	

/*element selectors: */
canvas {
	margin: 20px;
	outline:2px solid #ffffff;
}

.flexbox-container {
	display: flex;
	margin: 0 auto;
}

.flex-content{
	text-align: center;
	flex-basis: 50;
	flex: auto
}


.game{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

p{
	font-size: 24px;
	color: white;
}
